html
    font-family: 'Bw Surco'
    font-size: 35px
body
    position: fixed
    margin: 0
    padding: 0
    overflow: hidden
    margin: 0
    width: 100vw
    height: 100vh
.slide
    height: 100%
    width: 100%

img

    width: 100%
a
    text-decoration: none
li
    list-style-type: none
ul
    margin: 0
    padding: 0
button
    cursor: pointer
    &:focus
        outline: none

input
    box-sizing: border-box
    width: 100%
    &:focus
        border: 1px solid green
        outline: 1px solid green
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
    -webkit-text-fill-color: black
    transition: background-color 5000s ease-in-out 0s
#contact
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus
        -webkit-text-fill-color: white
        transition: background-color 5000s ease-in-out 0s

#slider
    transition: 2s all
    padding-right: 0px
.fab
    background: transparent
    color: white
    font-size: 1.2rem
@import "./blocks/mixins"
@import "./blocks/btn"
@import "./blocks/form"
@import "./blocks/title"
@import "./blocks/block"
@import "./blocks/promo"
@import "./blocks/about"
@import "./blocks/contact"
@import "./blocks/select"
@import "./blocks/social"
@import "./blocks/humb"
@import "./blocks/modal"
@import "./blocks/nav"
@import "./blocks/media"
