.about
    .promo-contact__status-item_active
        &::after
            content: "02"
            +after
    &-aside
        &__img
            width: 50px
            height: 50px
            display: flex
            justify-content: flex-start
            align-items: center
            img
                width: auto
                height: 100%
        &__item
            display: flex
            margin: 20px 0
        &__text
            margin-left: 15px
            font-style: normal
            font-weight: normal
            font-size: 1rem
            line-height: 1.2em
            color: #6A6A6A
    &-main
        position: relative
        &__texts
            display: flex
            margin: 20% 10% 20% 5%
        &__text
            font-style: normal
            font-weight: normal
            font-size: 1rem
            line-height: 1.3rem
            color: #FFFFFF
            &_right
                margin-left: 44px
        &__img
            position: absolute
            position: absolute
            left: -55px
            bottom: -5px
            width: 95%
