.promo
    .block-main__status-item_active
        &::after
            content: "01"
            +after
    &-main
        padding: 5.5vh 5% 2.5vh 10%
        &__form
            input
                color: #828282
                border: 2px solid #C5C5C5

            &-input
                margin-bottom: 3vh
                position: relative
                width: calc(100% - 4px)
                &::before
                    position: absolute
                    display: block
                    top: -15px
                    left: 10px
                    color: #C4C4C4
                    background: white
                    padding: 0 6px
                &_name
                    &::before
                        content: "Ім'я"
                &_tel
                    &::before
                        content: "Телефон"
    &-aside
        &__img
            height: 80%
            position: absolute
            bottom: 0
            display: flex
            width: 80%
            left: 50%
            transform: translateX(-50%)
            img
                height: 100%
                object-fit: contain
                width: 100%
